alembic
blinker
certifi
charset-normalizer
click
colorama
dnspython
email-validator
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
numpy
pandas
psycopg2
python-dateutil
python-dotenv
pytz
six
SQLAlchemy
typing-extensions
tzdata
urllib3
Werkzeug
WTForms
zipp
