<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS Eakins Portfolio</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Experience</a></li>
            <li><a href="#">Hobbies</a></li>
            <li><a href="http://www.instagram.com/christophereakins.digital">Digital</a></li>
            <li><a href="http://www.instagram.com/christophereakins.art">Photography</a></li>
            <li><a href="mailto:ceakins92@gmail.com">Contact</a></li>
            <li><a href="http://www.instagram.com/christophereakins.art"><img src="https://www.transparentpng.com/thumb/logo-instagram/JFyofc-logo-instagram-background-png.png" height="20px"></a></li>
        </ul>
    </nav>

    <div class="hero-image">
        <div class="hero-text">
    <h1 style="font-size:60px;">c.eakins</h1>
    <h4><font color="gray">(Future) </font>Sofware Engineer | Photographer</h4>    
        </div>
    </div>

    <main>
        <div id="main">
            <article class="main-articles">
                <center><h1>Experienced</h1>
                <strong><small>Experience you want from Real-World environments</strong></small></strong>
                </center>
                <figure>
                    <center><img src="images/20220418_084522.jpg" alt="Linux-Based Aerospace Network" height="400"></center>
                    <center><figcaption><em>Linux/Unix Based Aerospace Network.</em> (<a href="https://www.raytheonintelligenceandspace.com/what-we-do/command-and-control/airspace-modernization/automation-systems/stars" target="new"><em>Raytheon/STARS</em></a>)</a></figcaption></center>
                </figure>
                
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat pariatur doloribus aliquid laudantium voluptatum mollitia quam dolorum debitis modi sunt minima impedit quisquam expedita nihil ab, iusto error similique saepe?
                    Quo facilis inventore nulla aspernatur tempore quibusdam dignissimos ex, eos, asperiores placeat odio consequuntur earum nisi atque voluptas dolor adipisci expedita! Unde tempora ipsa porro, impedit saepe accusamus molestiae culpa.
                    Accusamus voluptates officia at architecto minima, non debitis tempore sequi deserunt ducimus quis sapiente ipsa voluptatibus nesciunt harum illo, consequatur enim a vitae ullam labore, sed praesentium unde vel! Aliquid.
                    Dolore animi in laudantium eligendi iusto laboriosam et ducimus ratione sapiente, repellendus officia doloribus eius maiores accusantium, sed fugit. Molestias mollitia totam dolor ducimus voluptates adipisci et nisi perspiciatis corrupti.
                    Sint, commodi</p>
            <hr>
                
                <h1>In Depth Training</h1>
        <strong>Intense training from Coding Temple</strong>
        
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat pariatur doloribus aliquid laudantium voluptatum mollitia quam dolorum debitis modi sunt minima impedit quisquam expedita nihil ab, iusto error similique saepe?
            Quo facilis inventore nulla aspernatur tempore quibusdam dignissimos ex, eos, asperiores placeat odio consequuntur earum nisi atque voluptas dolor adipisci expedita! Unde tempora ipsa porro, impedit saepe accusamus molestiae culpa.
            Accusamus voluptates officia at architecto minima, non debitis tempore sequi deserunt ducimus quis sapiente ipsa voluptatibus nesciunt harum illo, consequatur enim a vitae ullam labore, sed praesentium unde vel! Aliquid.
            Dolore animi in laudantium eligendi iusto laboriosam et ducimus ratione sapiente, repellendus officia doloribus eius maiores accusantium, sed fugit. Molestias mollitia totam dolor ducimus voluptates adipisci et nisi perspiciatis corrupti.
            Sint, commodi. Distinctio eos eum sed corporis, iure ab quo vel commodi magnam facilis sint maxime dolores aliquam optio doloremque odit libero error. Natus aperiam impedit id cumque, commodi magni?
        Voluptatem numquam minus iure? Et repellendus, commodi modi a consequatur architecto repudiandae asperiores hic fuga suscipit corporis nisi dolores eveniet accusantium amet nostrum enim aliquid minus similique veritatis necessitatibus aut!
        Vel, error ratione accusantium cum veniam distinctio. Ut, cupiditate, eaque quos beatae commodi vero laudantium pariatur animi incidunt aliquid magnam harum quibusdam. Assumenda, velit asperiores! Voluptatem vero error dolores aliquam?
        Quidem ipsum ducimus alias aut, perspiciatis libero quod doloremque labore nisi necessitatibus beatae cupiditate, consequuntur, illo esse accusantium. Porro omnis ipsam aliquid consequatur natus, odio eveniet nobis fugit voluptates eius.</p>
    </article>
    </div>


    <div id="side">
        <article class="side-articles" id="profiles">
            <h5 style="font-size:20px;">Who Am I?</h5>
            <img id="profile-image" src="images/IMG_20220217_065147_209.jpg " height="400">
        <div id="profile-details">
            <h3><center>An Explorer</center></h3>
            <small>With a military and Department of Defense civilian career background- I've learned that hard work, dedication, and a
                willingness to explore new opportunities and technologies are vital to personal and professional success.
            My experience in ATC and aerospace information systems/networks has given me a unique perspective on technology and the roll it plays in our lives.
        My passion for photography has allowed me to express myself in new ways and explore my creative side.<br>
    I'm excited to continue this journey and see where my developing skills take me next.</p></small>
            
        </div>
        </article>
        <article class="side-articles">
            <h2>Skill Sets</h2>
            <ul>
                <li>Python</li>
                <li>JavaScript</li>
                <li>HTML/CSS</li>
                <li>Photoshop</li>
                <li>Lightroom</li>
                <li>Imaging Hardware</li>
                <li>Linux/Unix</li>
            </ul>
        </article>
        <article class="side-articles">
            <h2>Follow Me</h2>
            <div class="follow-image">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>

                <div class="follow-text">
                
                </div>
            </div>
            
            
            <hr>
            <strong><small>Or Send a Message</small></strong>
            <br>
            <form action="mailto:ceakins92@gmail.com" method="POST">
                <label for="name"><strong>Name</strong></label>
                <br>
                <input type="text" id="name" placeholder="Your Name">
                <br>
                <label for="body"><strong>Message</strong></label>
                <br>
                <textarea id="body" placeholder="Your Message" rows="5"></textarea>
                <br>
                <button type="submit">Submit</button>
            </form>
            </article>
            </div>
            </main>

</body>
<footer>
    <hr>
    <div>
        <div class="footer-image">
            <div class="footer-text">
        <h6 style="font-size:20px;">
<br>
<br>
        &copy 2023 Christopher Eakins</h6>
        <br>
        <br>
        <br>
        <br>
    </div>
    
</footer>