{% extends "base.jinja" %}

{% block content %}

<center>

    <br>
    <img src="{{url_for('static', filename='soon.jpeg')}}" align="middle" width="300px" />
    <br>
    <br>
    <h5 style="color: rgb(226, 214, 161)">Purchase: Coming Soon to <font style="color: white">Animal
            Wars
        </font><em>
            <font style="color: red">2086</font>
</center>


{% endblock %}